
.label {
    height: 50px;
    width: 268px;
}
.label .text-wrapper {
    color: #000a09;
    font-family: "Brown-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 0;
    letter-spacing: -0.7px;
    line-height: 50px;
    top: 0;
    white-space: nowrap;
}
.label1 {
    height: 75px;
    width: 400px;
}
.label1 .text-wrapper1 {
    color: #737373;
    font-family: "Brown-Regular", Helvetica;
    font-size: 1.1vw;
    font-weight: 400;
    height: 75px;
    left: 0;
    letter-spacing: 0;
    line-height: 25px;
    position: relative;
    top: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin-top: 0px;
    margin-right: 30px;
    background-color: #2ec4b50c;
}
a {
    text-decoration: none;
    color: #A6A6A6;
    font-family: calibri;
}
.box {
    height: 840px;
    width: 1440px;
}
.box .bg {
    background-color: #2ec4b6;
    height: 840px;
    left: 0;
    opacity: 0.04;
    position: fixed;
    top: 0;
    width: 1440px;
}
.mobile-container{
    display: none;
}
.clan {
    display: flex;
}
.spa {
    margin-left: 30px;
}
button{
    width: 100%;
    padding: 5px;
    color: #ffffff;
    background-color: #2ec4bc;
    border: solid 1px #2ec4bc;
}
.password {
    width: 98%;
}
.select {
    width: 100%;
}
.gender {
    width: 100%;
}
.date {
    width: 98%;
}
.hero1 {
    padding: 50px;
    margin-top: 70px;
    line-height: 100px;
}
.clan2 {
    border: solid 2px red;
    color: red;
    margin-left:70%;
}
form{
    box-shadow: 3px 3px 10px 10px #00000011 ;
    padding: 40px;
    line-height: 150%;
    font-family: calibri;
}
select {
    color:#737373;
}
.reg {
    color:#ffffff;
    font-size: 15px;
}
.box {
    border: 1px solid;
    border-color: var(--clgray-3);
    border-radius: 2px;
    height: 48px;
    width: 238px;
}
:root {
    --clgray-3: rgba(240, 240, 240, 1);
}
.first_name{
    border: 1px solid;
    border-color: var(--clgreen);
    border-radius: 2px;
    height: 48px;
    width: 238px;
}
.first_name .div {
    border: 3px solid;
    border-color: var(--clgreen);
    border-radius: 2px;
    height: 54px;
    left: -4px;
    opacity: 0.06;
}
:root {
    --clgreen: rgba(46, 196, 182, 1);
}
.gender, .date{
    border: 1px solid;
    border-color: var(--clgray-3);
    border-radius: 2px;
    height: 48px;
    width: 238px;
}
.select, .password {
    border: 1px solid;
    border-color: var(--clgray-3);
    border-radius: 2px;
    height: 48px;
}
.labell{
    height: 25px;
    width: 503px;
    margin: 0 auto;
}
.labell .by-clicking-register{
    color: transparent;
    font-family: "calibri", Helvetica;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    height: 25px;
    left: 0;
    letter-spacing: 0;
    line-height: 25px;
    position: relative;
    top: 0;
    white-space: nowrap;
}
.labell .text-wrapper {
    color: #000000;
}
.labell .span {
    color: #2ec4b6;
    font-family: "calibri", Helvetica;
    font-weight: 400;
    text-decoration: underline;
}
/* input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text{ color:transparent;} */




/* media-querry */
@media screen and (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #2ec4b517;
    }
    .container {
        display: none;
    }
    .hero2 {
        margin-left: 15px;
    }
    .mobile-container {
        display: block;
        background-color: #2ec4b500;
    }
    .breadcrumb {
        display: none;
    }
    .logo {
        height: 40px;
        width: 30px;
        margin-left: -15px;
    }
    .label {
        height: 50px;
        width: 327px;
    }
    .label .text-wrapper {
        color: #000a09;
        font-family: "Brown-Bold", Helvetica;
        font-size: 30px;
        font-weight: 700;
        left: 0;
        letter-spacing: -0.8px;
        line-height: 400%;
        position: relative;
        top: 0;
        white-space: nowrap;
        width: 327px;
    }
    .labell {
        height: 50px;
        width: 327px;
    }
    .labell .text-wrapper1 {
        color: #737373;
        font-family: "Brown-Light", Helvetica;
        font-size: 15px;
        font-weight: 300;
        height: 50px;
        left: 0;
        letter-spacing: 0;
        line-height: 25px;
        position: relative;
        top: 50%;
        width: 320px;
    }
    form{
        box-shadow: 3px 3px 10px 10px #00000027 ;
        padding: 45px;
        margin: 45px;
        line-height: 150%;
        background-color: #ffffff;
        width: 200px;
    }
    .clan3 {
        margin-top: 40px;
        width: 267px;
    }
    .hero2 {
        padding: 30px;
    }
    .gender {
        width: 112%;
    }
    .select {
        width: 112%;
    }
    .password {
        width: 110%;
    }
    button {
        width: 112%;
    }
    .date, .box, .first_name {
        width: 110%;
    }
    .labelll {
        height: 10px;
        width: 245px;
        margin: o auto;
        text-align: center  ;
    }
    .labelll .by-clicking-register {
        color: transparent;
        font-family: "calibri", Helvetica;
        font-size: 12px;
        font-weight: 400;
        height: 10px;
        text-align: center;
        left: 0;
        letter-spacing: 0;
        line-height: 25px;
        position: relative;
        text-wrap: wrap;
        text-align: center;
        top: -110px;
        width: 250px;
        padding: 80px;
        
    }
    .labelll .text-wrapper {
        color: #000000;
    }
    .labelll .span {
        color: #2ec4b6;
        font-family: "Sofia Pro-Medium", Helvetica;
        font-weight: 500;
        text-decoration: underline;
    }
}
@media screen and (max-width: 625px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #2ec4b517;
    }
    .container {
        display: none;
    }
    .hero2 {
        margin-left: 15px;
    }
    .mobile-container {
        display: block;
        background-color: #2ec4b500;
    }
    .breadcrumb {
        display: none;
    }
    .logo {
        height: 40px;
        width: 30px;
        margin-left: -15px;
    }
    .label {
        height: 50px;
        width: 327px;
    }
    .label .text-wrapper {
        color: #000a09;
        font-family: "Brown-Bold", Helvetica;
        font-size: 30px;
        font-weight: 700;
        left: 0;
        letter-spacing: -0.8px;
        line-height: 400%;
        position: relative;
        top: 0;
        white-space: nowrap;
        width: 327px;
    }
    .labell {
        height: 50px;
        width: 327px;
    }
    .labell .text-wrapper1 {
        color: #737373;
        font-family: "Brown-Light", Helvetica;
        font-size: 15px;
        font-weight: 300;
        height: 50px;
        left: 0;
        letter-spacing: 0;
        line-height: 25px;
        position: relative;
        top: 50%;
        width: 320px;
    }
    form{
        box-shadow: 3px 3px 10px 10px #00000027 ;
        padding: 45px;
        margin: 45px;
        line-height: 150%;
        background-color: #ffffff;
        width: 200px;
    }
    .clan3 {
        margin-top: 40px;
        width: 267px;
    }
    .hero2 {
        padding: 30px;
    }
    .gender {
        width: 112%;
    }
    .select {
        width: 112%;
    }
    .password {
        width: 110%;
    }
    button {
        width: 112%;
    }
    .date, .box, .first_name {
        width: 110%;
    }
    .labelll {
        height: 10px;
        width: 245px;
        margin: o auto;
        text-align: center  ;
    }
    .labelll .by-clicking-register {
        color: transparent;
        font-family: "calibri", Helvetica;
        font-size: 12px;
        font-weight: 400;
        height: 10px;
        text-align: center;
        left: 0;
        letter-spacing: 0;
        line-height: 25px;
        position: relative;
        text-wrap: wrap;
        text-align: center;
        top: -110px;
        width: 250px;
        padding: 80px;
        
    }
    .labelll .text-wrapper {
        color: #000000;
    }
    .labelll .span {
        color: #2ec4b6;
        font-family: "Sofia Pro-Medium", Helvetica;
        font-weight: 500;
        text-decoration: underline;
    }
}